<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>
        Page Not Found
    </title>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: tahoma !important;
        }
        
        header {
            background-color: #bf272d;
            height: 23%
        }
        
        header img {
            border-radius: 50%;
        }
       
      
       
        span {
            color: white;
            margin-left: 5%;
            font-size: 30px;
            padding-top: 5%;
            padding-bottom: 5%;
            position: absolute;
            right: 30px;
        }
        p{
        text-align: center;
        font-size: 64px;
        margin-top: 10%;
}
    </style>
</head>

<body>
    <header>
        <img class="headerImg" src="images/logo2.png" alt="">
        <span>System Management</span>
    </header>
    <div class="container">
       <p>Page Not Found</p>

    </div>
    <%- include("base/footer.ejs")%>