<html>
    <head>
        <title>Add Course</title>
    </head>
    <body>
        
        <form action="\courses\add" method="POST">
            <label for="">CourseName</label>
            <input type="text" name="name" id="name">
            <label for="">Lecture Hours</label>
            <input type="number" name="lectureHours" id="lectureHours">
            <label for="">Lab Hours</label>
            <input type="number" name="labHours" id="labHours">
            <button type="submit">Add Course</button>


        </form>
    </body>
</html>