<html>
    <head>
        <title>Add Course</title>
    </head>
    <body>
        
        <form action="\departments\add" method="POST">
            <label for="">Department Name</label>
            <input type="text" name="name" id="name">
            <label for="">Manager</label>
            <input type="text" name="manager" id="manager">
            <button type="submit">Add Department</button>


        </form>
    </body>
</html>