<html>
    <head>
        <title>
            Departments
        </title>
    </head>
    <body>
        <h1>Departments</h1>
        <table>
            <thead>
                <th>
                    Department Name
                </th>
                <th>Manager</th>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>
                        OS
                    </td>
                    <td>
                        Hend Samir
                    </td>
                </tr> -->
                <% for (department of departments){ %>
                    <tr>
                        <td>
                            <%= department["name"] %>
                        </td>
                        <td>
                            <%= department["manager"]["fullname"] %>
                        </td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </body>
</html>