<style>
    footer {
        height: 4.7%;
        background-color: #bf272d;
        margin-bottom: 0;
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    
    form {
        padding-bottom: 5%;
    }
</style>
</div>
<footer>
    <h5>All Rights are reserved to &copy; amira reda</h5>
</footer>
</body>

</html>